{% if ROCKHOPPER_DEPENDENCIES != '' %}
# Depends: {{ ROCKHOPPER_DEPENDENCIES }}
{% endif %}
name={{ ROCKHOPPER_NAME }}
version={{ ROCKHOPPER_VERSION }}
release={{ ROCKHOPPER_REV }}
source=({{ PKGMK_SOURCE }})

build() {
    mkdir -p "$PKG/usr/share/licenses/{{ ROCKHOPPER_NAME}}"
    install LICENSE "$PKG/usr/share/licenses/{{ ROCKHOPPER_NAME}}"
    {{ PKGMK_PACKAGE }}
}
