{% if ENV.rocklet_maintainer != '' %}# Maintainer: {{ ENV.rocklet_maintainer }}{% endif %}
pkgname="{{ ENV.rocklet_name }}"
pkgver="{{ ENV.rocklet_version }}"
pkgrel="{{ ENV.rocklet_rev }}"
pkgdesc="{{ ENV.rocklet_description }}"
url="{{ ENV.rocklet_url }}"
arch="{{ ENV.rocklet_os_arch }}"
license="{{ ENV.rocklet_license }}"
depends="{{ ENV.rocklet_dependencies }}"
makedepends="{{ ENV.rocklet_apk_make_depends }}"
checkdepends="{{ ENV.rocklet_apk_check_depends }}"
install=""
subpackages=""
source="{{ ENV.rocklet_apk_source }}"
builddir="$srcdir"
options="!check"

prepare() {
    default_prepare

    if [ -f "{{ ENV.rocklet_apk_build }}/{{ ENV.rocklet_name }}/COPYING" ]; then
        mkdir -p "$builddir/usr/share/licenses/$pkgname"
        cp "{{ ENV.rocklet_apk_build }}/{{ ENV.rocklet_name }}/COPYING" "$builddir/usr/share/licenses/$pkgname"
    fi

    cp -r "{{ ENV.source_media }}/"* "$builddir"
}

package() {
    {{ ENV.apk_package }}
}
