{% if rocklet_maintainer is defined %}
# Maintainer: {{ rocklet_maintainer }}
{% endif %}
pkgname="{{ rocklet_name }}"
pkgver="{{ rocklet_version }}"
pkgrel="{{ rocklet_rev }}"
pkgdesc="{{ rocklet_description }}"
url="{{ rocklet_url }}"
arch="{{ rocklet_os_arch }}"
license="{{ rocklet_license }}"
depends="{{ rocklet_dependencies | default('') }}"
makedepends="{{ rocklet_apk_make_depends | default('') }}"
checkdepends="{{ rocklet_apk_check_depends | default('') }}"
install=""
subpackages=""
source="{{ rocklet_apk_source | default('') }}"
builddir="$srcdir"
options="!check"

prepare() {
    default_prepare

    if [ -f "{{ rocklet_apk_build }}/{{ rocklet_name }}/COPYING" ]; then
        mkdir -p "$builddir/usr/share/licenses/$pkgname"
        cp "{{ rocklet_apk_build }}/{{ rocklet_name }}/COPYING" "$builddir/usr/share/licenses/$pkgname"
    fi

    cp -r "{{ rocklet_data }}/"* "$builddir"
}

package() {
    {{ apk_package }}
}
