{% if (rocklet_maintainer is defined) and (rocklet_maintainer != '') %}# Maintainer: {{ rocklet_maintainer }}{% endif %}
pkgname="{{ rocklet_name }}"
pkgver="{{ rocklet_version }}"
pkgrel="{{ rocklet_rev }}"
pkgdesc="{{ rocklet_description }}"
url="{{ rocklet_url }}"
arch="{{ rocklet_os_arch }}"
license="{{ rocklet_license }}"
depends="{{ rocklet_dependencies | default('') }}"
makedepends="{{ rocklet_apk_makedepends | default('') }}"
checkdepends="{{ rocklet_apk_checkdepends | default('') }}"
install=""
subpackages=""
source="{{ rocklet_apk_source }}"
builddir="$srcdir"
options="!check"

prepare() {
    default_prepare
    cp -r "{{ source_media }}/"* "$builddir"
}

package() {
    {{ apk_package }}
}
