Name: {{ rocklet_name }}
Version: {{ rocklet_version }}
Release: {{ rocklet_rev }}
Summary:  {{ rocklet_summary }}
{% if rocklet_url is defined %}
URL: {{ rocklet_url }}
{% endif %}
BuildArch: {{ rocklet_os_arch }}
License: {{ rocklet_license }}
{% if rocklet_dependencies is defined %}
Requires: {{ rocklet_dependencies }}
{% endif %}
Source0: {{ fedora_source0 }}

%define debug_package %{nil}

%description
{{ rocklet_description }}

%prep
%setup -q

%build

%install
mkdir -p "%{buildroot}/usr/share/licenses/{{ rocklet_name }}"
cp "{{ fedora_license }}" "%{buildroot}/usr/share/licenses/{{ rocklet_name }}/LICENSE"
{{ fedora_data }}

%files
/usr/share/licenses/{{ rocklet_name }}/LICENSE
{{ fedora_files }}

%changelog
%autochangelog
