<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>License</title>
</head>
<body>
{% if (rocklet_copyright is defined) and (rocklet_copyright != '') %}<p>{{ rocklet_copyright }}</p>{% endif %}
{% if (rocklet_license is defined) and (rocklet_license != '') %}<p>{{ rocklet_license }}</p>{% endif %}
</body>
</html>
