<?xml version="1.0" encoding="utf-8"?>
<pkg-info auth="root" format-version="2" identifier="{{ rocklet_identifier }}" install-location="/" version="{{ rocklet_version }}">
    <payload installKBytes="{{ metrics_kb }}" numberOfFiles="{{ metrics_files }}" />
    <scripts/>
</pkg-info>
