{% if (rocklet_copyright is defined) and (rocklet_copyright != '') %}{{ rocklet_copyright }}{% endif %}
{% if (rocklet_license is defined) and (rocklet_license != '') %}{{ rocklet_license }}{% endif %}
