pkgname={{ ROCKHOPPER_NAME }}
version={{ ROCKHOPPER_VERSION }}
revision={{ ROCKHOPPER_REV }}
short_desc="{{ ROCKHOPPER_SUMMARY }}"
maintainer="{{ ROCKHOPPER_MAINTAINER }}"
license="{{ ROCKHOPPER_LICENSE }}"
homepage="{{ ROCKHOPPER_URL }}"
{% if ROCKHOPPER_CHANGELOG is defined %}
changelog="{{ ROCKHOPPER_CHANGELOG }}"
{% endif %}
archs="{{ ROCKHOPPER_ARCH | default('*') }}"

pre_install() {
    {{ XBPS_PRE_INSTALL }}
}

do_install() {
    vlicense licenses/LICENSE
    {{ XBPS_PACKAGE }}
}
